@import url(reset.css);
/* ================== */

body{
    background-color:#fafbff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.page{
    flex: 1 1 auto;
}

@media (max-width: 768.98px){
    .wrapper{
        flex-direction: column;
    }
}


/* ======================== */
/* ======== HEADER ======== */
/* ======================== */


.header{
    max-width: 306px;
    width: 100%;
    height: 110%;
    background-color:#fff;
}
.header__container{
    width: 100%;
    height: 100%;
    padding: 36px 28px 76px 28px;
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header__menu{
    display: flex;
    flex-direction: column;
    gap: 53px;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #000000;
    position: relative;
}

.header__logo::after{
    content: 'v.01';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #838383;
    position: absolute;
    left: 199px;
    top: 18px;
}

.header__list{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.header__item{
    display: flex;
    flex-direction: row;
    padding: 11px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: start;
    color: #9197B3;
    gap: 15.25px;
}
.header__item:hover{
    background-color: #5932EA;
    border-radius: 8px;
    color: #fff;
}
.header__item:hover img{
    filter: brightness(2);
}

.header__item.active{
    background-color: #5932EA;
    border-radius: 8px;
    color: #fff;
}
.header__item.active:hover{
    filter: brightness(2);
}


.header__user{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.username{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #000000;
}

.userposition{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #757575;
}

.burger__logo{
    display: none;
}
.menu__burger{
    display: none;
}
.burger__user{
    display: none;
}

@media (max-width: 992.98px) {
    .menu__burger{
        display: block;
        position: relative;
        margin-right: 100px;
        z-index: 10;
        transition-duration: .5s;
    }
    .menu__burger::after,
    .menu__burger::before{
        content: '';
        width: 27px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        transition-duration: .5s;
    }
    .menu__burger span{
        width: 27px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 9px;
        transition-duration: .1s;
    }
    .menu__open span{
        opacity: 0;
    }
    .menu__open .menu__burger::after{
        transform: rotate(45deg);
        top: 10px;
    }
    .menu__open .menu__burger::before{
        transform: rotate(-45deg);
        top: 10px;
    }
    .menu__burger::after{
        top: 18px;
    }
    .header__logo{
        position: absolute;
        top: -40vh;
        left: 22px;
    }
    .header__logo-text{
        display: none;
    }
    .header__menu{
        gap: 30px;
    }
    .header__nav{
        position: absolute;
        left: -100%;
    }
    .header{
        width: 80px;
    }
    .menu__open .header__nav{
        left: 0;
    }
    .header__nav{
        top: 0;
        width: 300px;
        background-color:#fff;
        height: 200vh;
        padding-left: 23px;
        z-index: 5;
        box-shadow: 37px 1px 142px 2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 37px 1px 142px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 37px 1px 142px 2px rgba(0,0,0,0.75);
        transition-duration: .5s;
    }
    .burger__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 70px;
        margin-bottom: 30px;
        position: relative;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #000000;
        position: relative;
    }
    .header__user{
        position: absolute;
        bottom: 50px;
    }
    .header__user-info{
        display: none;
    }
    .burger__user{
        padding-top: 200px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .burger__logo-text::after{
        content: 'v.01';
        font-weight: 500;
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #838383;
        position: absolute;
        right: 60px;
        bottom: 10px;
    }
}

@media (max-width: 768.98px){
    .header{
        min-width: 100vw;
        height: 100px;
    }
    .header__wrapper{
        width: 100%;
        height: 100px;
    }
    .menu__burger{
        position: absolute;
        right: -40px;
        top: 30px;
    }
    .header__logo{
        width: 100%;
        height: 100%;
        position: inherit;
    }
    .header__container{
        padding: 20px;
    }
    .header__logo::after{
        display: none;
    }
    .header__user{
        top: -85%;
        right: 100px;
    }
    .header__nav{
        position: absolute;
        left: 0;
        width: 100%;
        top: -220%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        
    }
    .menu__open .header__nav{
        top: 0;
    }
}

/* ======================= */
/* ======== MAIN ========= */
/* ======================= */

.page__container{
    margin: 41px 95px 258px 70px;
    max-width: 968px;
    width: 100%;
    height: 100%;
}

.page__header{
    padding-bottom: 51px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
}

.customers{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    box-sizing: content-box;
}

.customers__container{
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px 38px;
    width: 100%;
    height: 100%;
}


.customers__main{
    flex: 1 1 auto;
}

.customers__header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.customers__header-item:first-child{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.customers__header-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #000000;
}

.customers__header-status{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #16C098;
}

.input__container{
    max-width: 216px;
    width: 100%;
}

.input__container input{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #B5B7C0;
    background: #F9FBFF;
    outline:none;
}

.customers__header-item:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F9FBFF;
    border-radius: 10px;
    padding: 7px 8px;
    gap: 8px;
}

.customers__footer-info{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.footer__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.customers__footer-buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer__button{
    width: 25px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.01em;
}

.footer__button:hover{
    background: #5932EA;
    border: 1px solid #5932EA;
    color: #fff;
}

.footer__button.active{
    background: #5932EA;
    border: 1px solid #5932EA;
    color: #fff;
}

.button__arrow{
    width: 26px;
}

.dots{
    padding-top: 3px;
}

.customers__main{
    min-height: 100%;
    min-width: 100%;
}



/* ======================= */
/* ======== TABLE ======== */
/* ======================= */


td{
    height: 69px;
    width: auto;
}
th{
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #B5B7C0;
    min-width: 100px;
}

tr>th{
    padding-bottom: 14px;
}
tr>td{
    height: 69px;
}

tr:first-child{
    position: relative;
}
tr:first-child::after{
    content: '';
    width: 110%;
    height: 1px;
    position: absolute;
    background: #EEEEEE;
    bottom: 0;
    left: -5%;
    right: 0;
}

td{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #292D32;
}


.tablebutton{
    width: 80px;
    height: 29px;
    align-items: center;
    justify-content: center;
    background: #FFC5C5;
    border: 1px solid #DF0404;
    border-radius: 4px; 
}
.tablebutton.active{
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
}

@media (max-width: 998.98px){
    .page__container{
        padding: 10px;
        margin: 0;
    }
    .customers__container{
        padding: 20px 15px;
    }
    .table__container{
        overflow-x: scroll;
        pointer-events: all;
    }
}

@media (max-width: 598.98px){
    .input__container{
        max-width: 116px;
        width: 100%;
    }
    .customers__header-wrapper{
        flex-direction: column;
    }
    .footer__container{
        flex-direction: column;
    }
}