@import url(reset.css);
/*  */

body {
    font-family: Poppins;
    font-weight: 300;
    color: #9C9C9C;
    background-color: rgb(13, 13, 17);
}

/*  */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

/*  */

[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/*  */
.page {
    flex: 1 1 auto;
}

.page__main { }

/* Button */
.button {
    display: inline-flex;
    background-color: #3d96f4;
    border-radius: 50px;
    text-align: center;
    padding: 16px 30px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    transition: background-color 1.3 ease 0s;
}

.button:hover {
    background-color: #70abeb;
}

.button_dark {
    background-color: #81818B;
}

.button_dark:hover {
    background-color: #9595a0;
}


@media (max-width:992px) {
    .button {
        padding: 14px 20px;
    }
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(13, 13, 17, 0.5);
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    column-gap: 35px;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__icon {}



.menu__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 35px;
    flex-wrap: wrap;
    row-gap: 3px;
}

.menu__item {}

.menu__link {
    display: block;
    font-size: 16px;
    line-height: 1.62;
    color: #fff;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart {}

.cart-header {
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 5px;
    align-items: center;
}

.cart-header:hover .cart-header__text {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 1.55;

}

.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header__button {
    flex: 0 0 auto;
}

.icon__menu {
    display: none;
    transition: all 0.3 ease 0s;
}

.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}

.menu__open .menu__body,
.menu__open .menu__body::before{
    left:0;
}



@media (max-width:991.98px) {
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: left 0.3 ease 0s;
    }

    .menu__list,
    .header__container {
        column-gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }


    .menu__open .icon-menu span {
        width: 0;
    }

    .menu__open .icon-menu::before{
        top: 49%;
        transform: rotate(-45deg);
    }

    .menu__open .icon-menu::after{
        bottom: 50%;
        transform: rotate(45deg);
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }



    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow:auto;
        transition: all .3 ease 0s;
    }

    .menu__body::before{
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: all .3 ease 0s;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 10px;
    }

    .menu__link {
        font-size: 32px;
    }

}


@media (max-width:767.98px) {

    .menu__list,
    .header__container {
        column-gap: 15px;
    }
    
    .header__container {
        min-height: 70px;
    }
}

@media (max-width: 560px) {
    .header__logo {
        width: 32px;
        overflow: hidden;
    }

    .cart-header__text{
        display: none;
    }
}

/* Main */



.main {
    padding-top: 160px;
}
.main__content {
    flex: 0 1 50%;
    align-self: center;
}


.main__container{
    display: flex;
    gap: 32px;
    flex-direction: row;
}
.title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    color: #fff;
    max-width: 520px;
    position: relative;
}

.main__title::before{
    content: '';
    background: url('../image/decor.svg');
    width: 122px;
    height: 122px;
    position: absolute;
    top: -14px;
    left: -34px;
}

.main__title:not(:last-child){
    margin-bottom: 28px;
}

.main__text {
    margin: 46px 0 46px 0;
    font-size: 18px;
    line-height: 1.5;
}

.main__actions {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.main__button { }
.images-main__item img{
    width: 100%;
    box-sizing: border-box;
}
.images-main {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-auto-flow: column;
    gap: 59px;
    box-sizing: border-box;
}
.images-main__column{
    display: grid;
    gap: 59px;
}

@media(max-width:991.98px){
    .main {
        padding-top: 120px;
    }
    .main__container{
        flex-direction: column;
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }
    .main__images{
        max-width: 400px;
    }
}

@media(max-width:767.98px){
    .main {
        padding-top: 70px;
    }
    .main__title {
        font-size: 48px;
    }
    .main__actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

/* Clients */

.page__clients { }
.clients {
    padding-top: 100px;
    padding-bottom: 70px;
}
.clients__container { }
.clients__title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 44px;
}
.clients__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.client__item {
    max-width: 100%;
}

/* Services */

.header-main__label{
    border: 1px solid #484849;
    border-radius: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9595a0;
    padding: 11px 18px;
}

.header-main__label:not(:last-child){
    margin-bottom: 39px;
}

.header-main__label:hover{
    border: 1px solid #7e7e80;
}
.services__title{
    margin-top: 20px;
}

.services{
    padding-top: 70px;
    padding-bottom: 70px;
}

.services__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.services__content{
    flex: 0 1 50%;
    align-self: center;
    max-width: 520px;
}



.services__items {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.services__item:not(:last-child){
    margin-bottom: 32px;
}

.services__column {
    
}

.services__column:first-child {
    padding-top: 48px;
}

.services__item { }
.item-service {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px;
}
.item-service__icon { }

.item-service__icon:not(:last-child) {
    margin-bottom: 16px;
}

.item-service__title {
    font-size: 19px;
    line-height: 1.42;
    color: #fff;
    font-weight: 400;
}

.item-service__title:not(:last-child) {
    margin-bottom: 10px;
}
.item-service__text { }
.text { }


@media(max-width:1100px){
    .services__container{
        flex-direction: column;
    }

    .services__content{
        max-width: none;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:991.98px){
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media(max-width:767.98px){
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .services__title {
        font-size: 48px;
    }
}

@media(max-width:619.98px){
    .services__items{
        flex-direction: column;
    }
}


/* Why */

.why {
    padding-top: 100px;
    padding-bottom: 100px;
}
.why__container {
    display: flex;
    column-gap: 64px;
    row-gap: 32px;
}
.why__images {
    flex: 0 1 50%;
}

.why__content{
    flex: 0 1 50%;
    align-self: center;
}
.images-why {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.images-why::before{
    content: '';
    background: url('../image/decor.svg');
    width: 122px;
    height: 122px;
    position: absolute;
    bottom: -14px;
    left: -34px;
}

.images-why__item {
    overflow: hidden;
}

.images-why__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-why__item_1 { }
.images-why__item_2 {
    align-self: flex-end;
}
.why__title { 
    margin-top: 42px;
}
.why__list { }

.why__list li:not(:last-child){
    margin-bottom: 16px;
}

.why__list li{
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    color: #9C9C9C;
    line-height: 1.57;
    padding-top: 2px;
}

.why__list li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgba(129, 129, 139, 0.1) url(../image/why/check.svg) center no-repeat;
    width: 32px;
    height: 32px;
}


@media(max-width:991.98px){
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media(max-width:767.98px){
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .why__container{
        flex-direction: column-reverse;
    }
}

