@import url(reset.css);
@font-face{
    font-family: 'Proxima';
    src: url(../fonts/proxima/ProximaNova-Bold.woff) format('woff'), url(../fonts/proxima/ProximaNova-Bold.eot) format('eot'), url(../fonts/proxima/ProximaNova-Bold.ttf) format('ttf'), url(../fonts/proxima/ProximaNova-Bold.woff2) format('woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'ProximaS';
    src: url(../fonts/proxima/ProximaNova-Regular.woff) format('woff'), url(../fonts/proxima/ProximaNova-Regular.eot) format('eot'), url(../fonts/proxima/ProximaNova-Regular.ttf) format('ttf'),url(../fonts/proxima/ProximaNova-Regular.woff2) format('woff2');
    font-weight: 400;
}
/* PARALLAX */

.list{
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
}
.card,
.about,
.project,
.your,
.contact,
.footer{
    background-color: #000;
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
}


/* container */
html{
    overflow-x: hidden !important;
    
}
body{
    background-color: #000;
    color: #fff;
    font-family: Proxima;
    scroll-behavior: smooth;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
}

.page{
    flex: 1 1 auto;
}

[class*=__container]{
    max-width: 1920px;
    padding: 0px 37px;
    margin: 0 auto;
}

[class*=__wrapper]{
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}


/* a */

a:hover{
    cursor: pointer;
    opacity: .6;
}
a.header-button:hover,
a.main__what-button:hover{
    cursor: pointer;
    opacity: 1;
}

.circle-cursor {
    width: 40px;
    height: 40px;
    background-image: url(../source/arrow-down.svg);
    margin: -15px -15px 15px -15px;
    position: fixed;
    -webkit-transition: top 0.15s, left 0.15s;
    transition: top 0.15s, left 0.15s;
    z-index: 100;
}
.main{
    cursor: none;
}

/* header */

.header__container{
    position: fixed;
}

.header__nav{
    position: fixed;
    height: 100px;
    width: 100%;
    top: -200px;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    transition-duration: .7s;
    pointer-events: none;
}

.active .header__nav{
    position: fixed !important;
    top: 0;
    transition-duration: .7s;
}

.header__nav-wrapper{
    width: 100%;
    position: relative;
}

.header__nav-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header__nav-title{
    font-size: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    gap: 4px;
}

.header__nav-wrapper::after{
    /* yellow */
    content: '';
    position: absolute;
    width: 1400px;
    height: 1400px;
    background-image: url(../source/01.png);
    top: -1000px;
    right: 0;
}

.header__nav-wrapper::before{
    /* yellow */
    content: '';
    position: absolute;
    width: 1400px;
    height: 1400px;
    background-image: url(../source/02.png);
    top: -1150px;
    left: 0;    
}

.nav__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.header__container{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.header-button{
    text-transform: uppercase;
    pointer-events: auto;
}

.nav__logo a{
    pointer-events: auto;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 81px;
    z-index: 10;
}
.header-button:hover{
    text-decoration: underline;
}

.header__wrapper{
    width: 100%;
    height: 100%;
    padding: 20px 120px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    position: relative;
}


.header__title{
    z-index: 10;
    width: 100%;
    height: 100%;
    font-family: ProximaS;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    justify-content: flex-end;
}

.header__container::before{
    /* yellow */
    content: '';
    position: absolute;
    background-image: url(../source/01.png);
    width: 1400px;
    height: 1400px;
    top: -950px;
    right: -700px;
}

.header__container::after{
    /* blue */
    content: '';
    position: absolute;
    background-image: url(../source/02.png);
    width: 1400px;
    height: 1400px;
    top: -1100px;
    right: -400px;
}

.header__title-yellow{
    color: rgb(255, 238, 0);
}

.header__title-blue{
    color: #0D86FF;
}

.header__img .scroll{
    transform: scale(0);
}


@media (max-width: 1767px){
    .header__nav-wrapper::after{
        right: -100px;
    }
}
@media (max-width: 1567px){
    .header__nav-wrapper::after{
        right: -200px;
    }
}
@media (max-width: 1467px){
    .header__nav-wrapper::before{
        left: -200px;
    }
}
@media (max-width: 1267px){
    .header__nav-wrapper::after{
        right: -300px;
    }
    .header__nav-wrapper::before{
        left: -300px;
    }
}
@media (max-width: 1067px){
    .header__nav-wrapper::after{
        right: -400px;
    }
}
@media (max-width: 967px){
    .header__nav-wrapper::after{
        right: -450px;
    }
    .header__nav-wrapper::before{
        left: -350px;
    }
}



/* main */

.main__wrapper{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.main__logo{
    padding: 80px 0px 0px 70px;
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: flex-start;
}

.main__text{
    padding-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.main__title{
    font-size: 70px;
    letter-spacing: 3.5px;
    line-height: 1.28;
}

.main__description{
    padding-top: 46px;
    font-family: ProximaS;
    font-size: 28px;
    
    letter-spacing: 0px;
}

.main__what{
    padding: 160px 100px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__what-buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 81px;
    right: 0;
    padding-right: 100px;
}

.main__what-button{
    text-transform: uppercase;
}

.main__what-button:hover{
    text-decoration: underline;
}



@media (max-width: 1267px){
    .main__title {
        font-size: 52px;
    }
    .nav__logo{
        flex-direction: column;
        gap: 5px;
    }
    
}

@media (max-width: 960px){
    .header__nav-container{
        padding: 0px 10px;
    }
    .main__title {
        font-size: 39px;
    }

    .main__description{
        font-size: 20px;
    }

    .header__wrapper{
        padding: 20px 10px;
    }
    .main__what-buttons{
        padding-right: 60px;
    }

    
}
@media (min-width: 787.98px){
    .nav__logo-close{
        display: none;
    }
}

@media (max-width: 787.98px) {
    .main__logo{
        padding: 40px 0px 0px 30px;
    }
    .main__title {
        font-size: 34px;
    }
    .header__title{
        justify-content: center;
    }
    
    .main__what-buttons{
        padding-right: 40px;
    }
    .main__description{
        font-size: 15px;
    }

    br {
        display: none;
    }

    /* burger */
    .active .menu__burger{
        top: 38px;
        transition-duration: .6s;
    }
    .menu__burger{
        pointer-events: all;
    }
    .menu__burger{
        position: fixed;
        width: 30px;
        height: 20px;
        top: -100%;
        right: 60px;
      
        z-index: 200;
        transition-duration: .6s;
    }

    .menu__open .menu__burger::before{
        transform: rotate(45deg);
        bottom: 9px;
    }
    .menu__open .menu__burger::after{
        transform: rotate(-45deg);
        top: 9px;
    }

    .menu__open .menu__burger span{
        transform: scale(0);
    }

    .menu__burger::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.4s ease 0s;
    }
    .menu__burger::after{
        top: 20px;
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: all 0.4s ease 0s;
    }
    .menu__burger span{
        top: 10px;
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }
    .header__nav-wrapper{
        position: fixed;
        top: -400%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 100;
        transition: all 0.3s ease 0s;
    }

    .logo-img2{
        padding-bottom: 100px;
    }
    .menu__open .header__nav-wrapper{
        top: 0;
        height: 100vh;
    }
    .header__nav-container{
        padding-top: 40px;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .header__nav-title{
        height: 100%;
        bottom: 0;
    }

    .header-buttons{
        flex-direction: column;
        gap: 30px;
    }

    .header-button{
        font-size: 30px;
    }

    .nav__logo-close{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
}

@media (max-width: 534.98px) {
    .main__what-buttons{
        gap: 20px;
    }
    .nav__logo-close{
        flex-direction: column;
    }
    .main__text {
        padding-top: 50px;
    }
    .main__description {
        padding-left: 20px;
    }
    .main__what {
        padding: 50px 0 50px 0;
    }
}

@media (max-width: 412.98px) {
    .main__what-buttons{
        padding-top: 20px;
        width: 100%;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 0;
    }
    .main__what-button{
        width: 100px;
        padding-right: 0px;
    }
    .main__what{
        padding-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__logo {
        padding-left: 0px;
    }
    .logo-img{
        transform: translateX(-27px) scale(0.9);
    }
    .main__title {
        font-size: 28px;
        padding-left: 10px;
    }
    .menu__burger{
        right: 10px;
    }
    .logo-img_close{
        transform: scale(0.7);
    }
    .nav__logo-close{
        gap: 3px;
    }
}

.opacity{
    opacity: 0.4;
}

/* list */

.list__wrapper{
    padding: 75px 60px;
    background-color: #000;
}

.list__wrapper{
    height: 100%;
    min-height: 360px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.item_num{
    font-family: Roboto;
    color: #707070;
    font-weight: 900;
}

.item_text{
    padding-left: 16.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_text-header{
    font-size: 60px;
    width: 500px;
}

.item_text-info{
    width: 100%;
    max-width: 632px;
    font-family: ProximaS;
    font-size: 24px;
    line-height: 1.66;
}

@media (max-width: 1267px){
    .item_text{
        padding-left: 70px;
        gap: 30px;
    }
}
@media (max-width: 1067px){
    .item_text{
        padding-left: 50px;
    }
    .item_text-header{
        font-size: 50px;
        width: 550px;
    }
    .item_text-info{
        font-size: 22px;
    }
}
@media (max-width: 967px){
    .item_text{
        padding-left: 50px;
    }
    
}
@media (max-width: 867px){
    .item_text{
        padding-top: 10px;
        padding-left: 10px;
        flex-direction: column;
    }
    .item_text-header{
        font-size: 50px;
        max-width: 100%;
    }
    .list__wrapper{
        padding: 20px 20px;
    }  
}

@media (max-width: 567px){
    .item_text-info{
        font-size: 18px;
    }
    .item_text-header{
        font-size: 37px;
        max-width: 100%;
    }
    .list__wrapper{
        padding: 10px 0px;
    }  
}

/* card 142*/

.card-slider{
    height: 100%;
}


.card__wrapper{
    padding-top: 150px;
    height: 100%;
    font-family: ProximaS;
}

.card-item{
    width: 400px !important;
    text-align: start;
    margin-right: 150px;
}
.card-button{
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(97, 97, 97) ;
    padding-bottom: 100px;
    background-color: #000;
    z-index: 10;
    text-align: start;
}

.card-button:hover{
    color: rgb(139, 139, 139);
}


.open__card.card-button{
    color: #fff;
    background-color: #000;
    z-index: 10;
}

.card-header::before{
    content: '+';
    position: absolute;
    left: -45px;
    transition-duration: .4s;
}


.card-wrapper:nth-child(4){
    color: #000;
}

.card-slider{

}


.cart-text_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.cart-text{
    position: absolute;
    pointer-events: none;
    bottom: 100%;
    display: flex;
    z-index: 2;
    animation-name: openCard;
    animation-duration: .3s;
    width: 100%;
}

.open__card.cart-text{
    bottom: 30px;
    animation-name: open;
    animation-duration: .3s;
}

.open__card.card-header::before{
    content: '-';
    left: -45px;
    transition-duration: .4s;
}

.card-button:active{
    transform: scale(1) !important;
}

@keyframes open {
    0%{
        bottom: 100%;
        opacity: 0;
    }
    50%{
        bottom: 30px;
        opacity: 0;
    }
    100%{
        bottom: 30px;
        opacity: 1;
    }
}

/* ABOUT */

.about__wrapper{
    border-bottom: 1px solid #ccc;
    padding-top: 150px;
}

.about__text{
    padding-left: 385px;
    padding-bottom: 125px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__header{
    font-size: 65px;
    width: 100%;
    max-width: 360px;
}

.about__info{
    max-width: 640px;
    width: 100%;
    padding-right: 100px;
}

.about__info-text{
    font-size: 24px;
    font-family: ProximaS;
}

.about__info-button{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.about__info-button:hover{
    border: 1px solid rgba(255, 255, 255, .5);
}

.about__button-img{
    padding-top: 5px;
}

.about__images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px 133px 120px;
    position: relative;
}

.about__image{
    position: relative;
}

.about__image img{
    transition-duration: .5s;
}

.about__image img:hover{
    transition-duration: .5s;
    transform: scale(1.2);
}

.about__image-info{
    position: absolute;
    z-index: 5;
    bottom: 40px;
    left: -40px;
    font-family: ProximaS;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__image-header{
    font-size: 40px;
    text-transform: uppercase;
}

.img{
    width: 100%;
    height: 100%;
}

.about__image-text{
    font-size: 20px;
}

@media (max-width:1502px){
    .about__images{
        gap: 70px;
    }
    .about__text{
        padding-left: 50px;
        gap: 50px;
    }
    
}

@media (max-width:1242px){
    .about__images{
        padding-left: 30px;
        padding-right: 0;
    }
}

@media (max-width:942px){
    .about__image-header{
        font-size: 30px;
        text-transform: uppercase;
    }
    .about__image-text{
        font-size: 15px;
    }
    .about__text{
        flex-direction: column;
    }
}

@media (max-width:742px){
    .about__images{
        flex-direction: column;
        padding: 0px 100px;
        padding-bottom: 70px;
    }
}

@media (max-width:522px){
    .about__images{
        flex-direction: column;
        padding: 0px 50px;
    }
    .about__info{
        padding-right: 0;
    }
    .about__text{
        padding-left: 0;
        gap: 10px;
        padding-bottom: 50px;
    }
    .about__header{
        font-size: 48px;
    }
    .about__info-text{
        font-size: 21px;
    }
}

@media (max-width:422px){
    .about__images{
        flex-direction: column;
        padding: 100px 10px;
    }
}

/* PROJECT */


.project__info{
    padding: 150px 101px 100px 383px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__header{
    font-size: 65px;
    width: 100%;
    max-width: 360px;
}

.project__container-text{
    padding-bottom: 40px;
}

.projects__text{
    font-size: 24px;
    font-family: ProximaS;
    max-width: 600px;
}
.project__wrapper{
    padding-bottom: 93px;
    border-bottom: 1px solid #ccc;;
}

.image-slider__image img:hover{
    max-width: 100%;
    transition-duration: .5s;
    transform: scale(1.05);
    z-index: 9;
}

.image-slider__image{
    text-align: center;
}

.button-prev img{
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    z-index: 9;
    padding-right: 50px;
}
.button-next img{
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 9;
    padding-left: 50px;
}
.image-slider__text{
    padding: 42px 120px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.image-slider__header {
    font-size: 30px;
}
.image-slider__info {
    font-size: 20px;
    color: #7E7E7E;
    font-family: ProximaS;
}

@media (max-width: 1367px){
    .project__info{
        padding: 150px 101px 1px 83px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .image-slider__text{
        padding: 30px 0;
    }
}

@media (max-width: 887px){
    .project__info{
        padding: 150px 10px 1px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 767px){
    .project__info{
        padding: 150px 10px 40px 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .button-prev{
        opacity:0
    }
    .button-next{
        opacity:0
    }
    .image-slider__text{
        padding: 22px 20px;
        display: flex;
        flex-direction: column;
        gap: 21px;
    }
}

@media (max-width: 467px){
    .project__info{
        padding: 20px 0px;
    }
    .project__header{
        font-size: 48px;
    }
    .projects__text{
        font-size: 21px;
    }
}


/* YOUR */

input[type=range] {
    min-width: 200px;
    margin: 7.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -7.5px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: #ffffff;
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-progres{
    height: 5px;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.5px 0;
    color: transparent;
    width: 100%;
    height: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #f2f2f2;
    border: 0;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range] {
      margin: 0;
    }
  }


.your__wrapper{
    width: 100%;
    height: 100%;
}

.your__items{
    width: 100%;
    height: 100%;
}

.your__item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}  

.your__item-text{
    padding-right: 100px;
    width: 600px;
}
.your__items{
    padding-left: 383px;
    padding-top: 170px;
}


.form__items{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between; 
}

form{
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.form__item {
    width: 600px;
}

.form__item.right {
    padding-right: 100px;
}

.form__range-input{
    width: 50%;
}

.form__login-input {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}



.form__login-input input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: rgb(255, 255, 255);
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.form__login-input label {
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: rgb(88, 88, 88);
pointer-events: none;
transition: 0.5s;
}

.form__login-input input:focus ~ label,
.form__login-input input:valid ~ label {
top: -20px;
left: 0;
color: rgb(88, 88, 88);
font-size: 12px;
}


.your__item-header{
    font-size: 65px;
    text-transform: uppercase;
    width: 500px;
}

.form__item:first-child{
    width: 500px;
}

.form__range-input{
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
}

.value::before{
    content: '$';
}

.value{
    position: absolute;
    right: -50px;
}
.pos{
    position: absolute;
    right: -150px;
}

.your__item-text{
    font-family: ProximaS;
    font-size: 24px;
}


.form__range-input span{
    position: absolute;
    width: 0px;
    height: 5px;
    background-color: #fff;
    top: 5px;
    border-radius: 25px;
}
.form__button{
    padding: 30px 100px;
    margin-bottom: 140px;
    background-color: rgba(112, 112, 112, 0.377);
    text-transform: uppercase;
}

.form__button:hover{
    background-color: rgba(155, 155, 155, 0.377);
}
button:active{
    transform: scale(1.02);
}


.your__wrapper{
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

@media(max-width:1636px){
    .your__items{
        padding: 40px 130px;
    }
    .your__item-text{
        padding: 0;
    }
    .form__item.right{
        padding-right: 0;
        padding-left: 50px;
    }
}

@media(max-width:1536px){
    .your__items{
        padding: 40px 40px;
    }
    .your__item-text{
        width: 400px;
    }
}

@media(max-width:1136px){
    .value{
        position: absolute;
        right: -100px;
    }
    .pos{
        position: absolute;
        right: -250px;
    }
    
}

@media(max-width:836px){
    .form__button{
        margin-top: 143px;
        margin-bottom: 20px;
    }
    .form__login-input {
        margin-bottom: 20px;
    }
    .your__item{
        flex-direction: column;
        gap: 40px;
    }
    .your__item-text{
        width: 100%;
    }
    .form__items{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .form__item.right{
        padding-right: 0;
        padding-left: 0;
    }
    .form__item{
        width: 100%;
    }
    .form__item:first-child{
        width: 100%;
    }
    .value{
        position: absolute;
        right: -50px;
    }
    .pos{
        position: absolute;
        right: -150px;
    }
    .form__item{
        justify-content: center;
        align-items: center;
        width: 100%; 
    }
}

@media(max-width:636px){
    .your__item-header{
        font-size: 55px;
    }
    .value{
        position: absolute;
        right: -70px;
    }
    .pos{
        position: absolute;
        right: -170px;
    }
}

@media(max-width:556px){
    .your__item-header{
        font-size: 45px;
        width: 100%;
    }
    .your__item-text{
        font-size: 19px;
    }
    .value{
        position: absolute;
        left: 0;
        bottom: -40px;
    }
    .pos{
        position: absolute;
        left: 0;
        bottom: -40px;
    }
    .your__items{
        padding: 20px 0px;
    }
}

/* CONTACT */

.contact__wrapper{
    padding: 161px 0px 150px 383px;
}

.contact__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact__item.right-item{
    max-width: 632px;
    padding-right: 100px;
    font-family: ProximaS;
}

.contact__item-header{
    font-size: 65px;
    padding-bottom: 210px;
}

.contact__item-mail{
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.contact__item-number{
    font-size: 30px;
}

.contact__item-text{
    font-size: 24px;
    padding-bottom: 82px;
}

.contact__item-addres{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    max-width: 420px;
    padding-bottom: 100px;
    text-transform: uppercase;
}

.contact__item-network{
    display: flex;
    flex-direction: column;
    gap:43px;
}
.addres_network{
    font-size: 30px;
    text-transform: uppercase;
}

.adres_img{
    display: flex;
    flex-direction: row;
    gap: 32px;
}



@media (max-width: 1567px){
    .contact__wrapper{
        padding: 161px 0px 150px 233px;
    }
}
@media (max-width: 1367px){
    .contact__wrapper{
        padding: 161px 0px 150px 133px;
    }
}
@media (max-width: 1267px){
    .contact__wrapper{
        padding: 161px 0px 150px 33px;
    }
}
@media (max-width: 1167px){
    .contact__items{
        flex-direction: column;
    }
    .contact__item-header{
        font-size: 65px;
        padding-bottom: 30px;
    }
    .contact__item-number{
        padding-bottom: 60px;
    }
}

@media (max-width: 767px){
    .contact__item-header{
        font-size: 55px;
    }
    .contact__item-mail{
        font-size: 23px;
    }
    .contact__item-number{
        font-size: 23px;
    }
    .contact__item.right-item{
        padding-right: 0;
    }
    .adres_img{
        gap:13px;
    }
    .adres_img img{
        transform: scale(.8);
    }
}




/* FOOTER */

footer{
    padding-bottom: 300px;
}

.footer__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}
.footer__item-info{
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-bottom: 20px;
}

.footer__item-buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer__item-button{
    text-decoration: underline;
}

.footer__item.arrow-up{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arrow-up img{
    transform: rotate(-90deg);
}
button.arrow-up{
    transition-duration: .2s;
}
button.arrow-up:hover{
    transform: translateY(-10px);
}

.footer__item-button{
    text-transform: uppercase;
}

.footer__item-button:hover{
    color: #b1b0b0;
    text-decoration: none;
}

@media(max-width:556px){
    .footer__item-info{
        flex-direction: column;
    }
}



/* ANIMATION ONSCROLL */

.header__title{
    opacity: 0;
    transform: translate(10%,0px);
    transition-duration: .8s;
}

.header__title._active{
    opacity: 1;
    transform: translate(0px,0px);
}

.main__logo{
    opacity: 0;
    transition-duration: 1s;
}

.main__logo._active{
    opacity: 1;
}

.main__title{
    opacity: 0;
    transform: translate(0px,10%);
    transition-delay: .4s;
    transition-duration: .8s;
}

.main__title._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.main__description{
    opacity: 0;
    transform: translate(0px,10%);
    transition-delay: .4s;
    transition-duration: .8s;
}

.main__description._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.main__what-text{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-delay: .6s;
    transition-duration: .8s;
}

.main__what-text._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.main__what-buttons{
    opacity: 0;
    transform: translate(30%,0px);
    transition-delay: .8s;
    transition-duration: .8s;
}

.main__what-buttons._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.item_num{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-duration: .8s;
}

.item_num._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.item_text-header{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-duration: .8s;
}

.item_text-header._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.item_text-info{
    opacity: 0;
    transform: translate(30%,0px);
    transition-duration: .8s;
}

.item_text-info._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.about__header{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-duration: .8s;
}

.about__header._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.about__info{
    opacity: 0;
    transform: translate(30%,0px);
    transition-duration: .8s;
}

.about__info._active{
    opacity: 1;
    transform: translate(0px,0px);
}

.about__image{
    opacity: 0;
    transform: translate(0px,-30%);
    transition-duration: .8s;
    transition-delay: .2s;
}

.about__image._active{
    opacity: 1;
    transform: translate(0px,0px);
}

.project__header{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-duration: .8s;
}

.project__header._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.projects__text{
    opacity: 0;
    transform: translate(30%,0px);
    transition-duration: .8s;
}

.projects__text._active{
    opacity: 1;
    transform: translate(0px,0px);
}

.your__items{
    opacity: 0;
    transform: translate(0px,30%);
    transition-duration: .8s;
}

.your__items._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.left-item{
    opacity: 0;
    transform: translate(-30%,0px);
    transition-duration: .8s;
}

.left-item._active{
    opacity: 1;
    transform: translate(0px,0px);
}
.right-item{
    opacity: 0;
    transform: translate(30%,0px);
    transition-duration: .8s;
}

.right-item._active{
    opacity: 1;
    transform: translate(0px,0px);
}

/* .header__nav{
    opacity: 0;
    transform: translate(30%,0px);
    transition-duration: .8s;
}

.header__nav._active{
    opacity: 1;
    transform: translate(0px,0px);
} */

